.title{
  font-size: 44px;
  margin: 8px 0 12px 
}

.grid{
  width: 100%;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.empty{
  opacity:.8; 
  margin-top:8px
}
